{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
        
        <h1 class="h3 mb-3 font-weight-normal">Connectez-vous</h1>
            <div class="grix xs1 sm1">
                <input type="text" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rounded-1" placeholder="adresse mail" autocomplete="email" required autofocus>
                <input type="password" name="password" id="inputPassword" class="form-control rounded-1" placeholder="mot de passe" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token"  value="{{ csrf_token('authenticate') }}">
                
            </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn shadow-1 rounded-1 blue" type="submit">Connexion</button>
    </form>
    <p><a href="{{path('app_forgot_password_request')}}" class="oldLink">Mot de passe oublié ?</a></p>
</div>
{% endblock %}
