{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <h1>Inscrivez-vous</h1>
        <div class="grix xs1 sm2">
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {'label': false, 'attr': {'class': 'form-control rounded-1',
                'placeholder': 'email@email.com'}}) }}
                {{ form_row(registrationForm.firstname, {'label': false, 'attr': {'class': 'form-control rounded-1',
                'placeholder': 'Prénom'}}) }}
                {{ form_row(registrationForm.name, {'label': false, 'attr': {'class': 'form-control rounded-1',
                'placeholder': 'Nom'}}) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: false,'attr': {'class': 'form-control rounded-1',
                    'placeholder': 'mot de passe'}
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn shadow-1 rounded-1 blue register">Enregistrer</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
