{% extends "base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}
{% block body %}
    <div class="container">
        {% for messageEmail in app.flashes('email') %}
            <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{messageEmail}}</div>
        {% endfor %}
        <h2 class="txt-center">{{annonce.title}}</h2>
        <div class="caroulix" id="carousel" autoplay-enabled="false">
            <div class="caroulix-arrow caroulix-prev">
              <i class="fas fa-chevron-left"></i>
            </div>
            <div class="caroulix-arrow caroulix-next">
              <i class="fas fa-chevron-right"></i>
            </div>
            {% for image in annonce.images %}
                <div class="caroulix-item">
                    <img src="{{ asset('upload/' ~ image.name) | imagine_filter('banniere') }}" alt="img1" />
                </div>                
            {% endfor %}          
        </div>   
        <div class="card shadow-1 fx-row">
            <div class="flex fx-col fx-grow">
                <div class="card-content">
                    <p>Catégorie: {{ annonce.categories.name }}</p>
                    <p>{{annonce.content | raw }}</p>
                </div>
            </div>
        </div>
        <button onclick="location:window.history.go(-1)" class="btn shadow-1 rounded-1 secondary">Retour</button>
        <button class="btn shadow-1 rounded-1 primary modal-trigger" data-target="modal-contact">Contacter l'auteur</button>
    </div>  
    <div class="modal shadow-1 white rounded-2 bouncing" id="modal-contact" data-ax="modal">
        <div class="modal-header">
            Contacter l'auteur de l'annonce
            <button data-target="modal-contact" class="modal-trigger">
                <i class="fas fa-times"></i>
            </button>
            <div class="divider"></div>
            {{ form_start(form) }}
        </div>
        <div class="modal-content">
            <div class="form-field">
                {{ form_row(form.title) }}
                {{ form_row(form.email) }}
                {{ form_row(form.message) }}
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn shadow-1 rounded-1 small primary">Envoyer</button>
            <button data-target="modal-contact" class="ml-auto btn shadow-1 rounded-1 small secondary modal-trigger">Annuler</button>
        </div>
        {{ form_end(form) }}
    </div>
      
     
{% endblock %}



{% block javascripts %}
    <script>
        window.onload = () => {
            let caroulix =  new Axentix.Caroulix('#carousel');
            caroulix.stop();
            caroulix.options.autoplay = {enabled: false}
            caroulix.options.backToOpposite = false

            // 
            document.querySelector("#annonce_contact_title").value = "{{ annonce.title|raw }}"

        } 
    </script>
{% endblock %}