{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h2>Liste des annonces</h2>       
        {% for annonce in annonces %}
            <div class="card shadow-1 fx-row">
                <div class="primary d-flex vcenter fx-center">
                    <img src="{{ asset('upload/' ~ annonce.images[0].name) | imagine_filter('square') }}" 
                    alt="{{ annonce.title }}" width="230">                   
                </div>
                <div class="flex fx-col fx-grow">
                    <div class="card-header">{{annonce.title}}</div>
                    <div class="card-content">
                        <p>Catégorie: {{ annonce.categories.name }}</p>
                        <p>{{annonce.content | u.truncate(50, '...') | raw }}</p>
                    </div>
                </div>
                <div class="btn-group btn-group-vertical btn-group-small">
                <a href="{{ path('annonces_details', {'slug': annonce.slug}) }}" class="btn shadow-1 blue dark-4">Détails</a>
                {% if is_granted("ROLE_USER") %}
                    {% set isFavorite = false %}
                    {% for favoris in annonce.favoris %}
                        {% if favoris.id == app.user.id %}
                            {% set isFavorite = true %}
                        {% endif %}
                    {% endfor %}   
                    {% if isFavorite %}
                        <a href="{{ path('annonces_enlever_favoris', {id: annonce.id}) }}" class="btn shadow-1 warning"><i class="fas fa-heart txt-white"></i></a>
                    {% else %}
                        <a href="{{ path('annonces_ajout_favoris', {id: annonce.id}) }}" class="btn shadow-1 warning"><i class="far fa-heart txt-white"></i></a> 
                    {% endif %}                                                   
                {% endif %}                                                         
                </div>
            </div>
        {% endfor %}
    </div>  
{% endblock %}