{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe{% endblock %}

{% block body %}
    {% for message in app.flashes('reset_password_error') %}
        <div class="alert success" role="alert">{{ message }}</div>
    {% endfor %}
    <div class="container-fluid">
        <h2>Réinitialisation de votre mot de passe</h2>
        <div  style="margin-bottom:1em;">
            <small>
                Entrer votre addresse mail et un lien vous sera envoyé afin de pouvoir réinitialiser votre 
                mot de passe 
            </small>
        </div>
        <div class="grix xs1 sm2">
            {{ form_start(requestForm) }}
            {{ form_row(requestForm.email, {'label': false, 'attr': {'class': 'form-control rounded-1',
                'placeholder': 'email@email.com'}}) }}
        </div>
        <button class="btn shadow-1 rounded-1 blue register">Réinitialisation du mot de passe</button>
        {{ form_end(requestForm) }}

    </div>

{% endblock %}
