{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h2>Réinitialisation de votre mot de passe</h2>
    <div class="grix xs1 sm2">
        {{ form_start(resetForm) }}
            {{ form_row(resetForm.plainPassword, {
                'attr': {'class': 'form-control rounded-1'}
            }) }}
            <button class="btn blue rounded-1">Valider la réinitialisation</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
