{% extends "base.html.twig" %}

{% block title %}Nous contacter{% endblock %}

{% block body %}
<div class="container">
    <h2 class="txt-center">Nous contacter</h2>
    {% for messageEmail in app.flashes('email') %}
        <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{messageEmail}}</div>
    {% endfor %}

    {{ form(form) }}

</div>
{% endblock %}