  page reset password  */

.btn{
    margin-top: 1em;
    margin-bottom: 1em;
}
.container-fluid{
    margin-left: 4em;
}

/* inputs */

.form-control{
    margin-bottom: 0.5em;
}

.oldLink{
    text-decoration: underline;
    color: rgb(0, 60, 255);
}

.form-check{
    margin-left: 0.5em;
    margin-top: 0.5em;
}
#annonces_categories{
    margin-top: 0.5em;
}

.vert{
    background-color: green;
}
