{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle catégorie{% endblock %}

{% block body %}

<div class="container">
    <h2>Ajouter une nouvelle catégorie</h2>

   
    <div class="grix xs1 sm2">
        {{ form_start(form) }}
        {{ form_row(form.name, {'attr': {'class': 'form-control rounded-1', 'placeholder': 'Nom de la catégorie à ajouter'}}) }}
        {{ form_row(form.parent, {'label': 'Dans la catégorie parent:',  'attr': {'class': 'form-control rounded-1'}}) }}
        {{ form_row(form.Valider, {'attr': {'class': 'btn shadow-1 rounded-1 blue'}}) }}
        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
