{% extends 'base.html.twig' %}

{% block title %}Gestion des catégories!{% endblock %}

{% block body %}
<div class="container">
    <h2 class="txt-center">Gestion des catégories</h2>
</div>
<div class="container-fluid" style="margin-top: 5em;">
    {% for message in app.flashes('messageAjout') %}
        <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{message}}</div>
    {% endfor %}
   
    <div class="responsive-table">
        <table class="table striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Parent</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for categorie in categories %}
                <tr>
                <td>{{categorie.id}}</td>
                <td>{{categorie.name}}</td>
                <td>{{categorie.parent}}</td>
                <td>
                <a href="{{ path('admin_categories_edit', {id: categorie.id}) }}" class="btn shadow-1 rounded-1 grey dark-5">Modifier</a>
                </td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
    </div>
    <a href="{{path('admin_categories_ajout')}}" class="btn shadow-1 rounded-1 airforce dark-5">Ajouter une catégorie</a> 
</div>

   
{% endblock %}
