{% extends 'base.html.twig' %}

{% block title %}Ajouter une nouvelle annonce{% endblock %}

{% block body %}

<div class="container">
    <h2>{{titre}}</h2>
   
    {{ form_start(form) }}
    {{ form_row(form.title, {'attr': {'class': 'form-control rounded-1', 'placeholder': 'Nom de l\'annonce à ajouter *'}}) }}
    {{ form_row(form.content, {'attr': {'class': 'form-control rounded-1', 'placeholder': 'Description *'}}) }}
     <div class="form-file">
         {# Vérifier si la route est 'users_annonces_edit' et on affiche les images #}
        
        <label for="img" class="btn primary rounded-1 shadow-1" style="margin:0">*</label>
        {{ form_row(form.images, {'attr': {'id': 'img', 'name': 'img'}}) }}
        <div class="form-file-path">Selectionner une image</div>
    </div>
    {% if app.request.attributes.get('_route') == 'users_annonces_edit' %}
        <h2>Images</h2>
        <div class="grix xs4">

        {% for image in annonce.images %}
            
                <div class="card shadow-1 hoverable-1 rounded-2">
                    <div class="card-content">
                        <img src="{{ asset('/upload/' ~ image.name) }}" alt="Image" width="150" height="150">
                        <a href="{{ path('annonces_delete_image', {id: image.id}) }}" data-delete
                        data-token="{{ csrf_token('delete' ~ image.id) }}" class="btn shadow-1 rounded-1 red dark-2 txt-center">Supprimer</a>
                    </div>
                </div>
            
        {% endfor %}
        </div>
    {% endif %}
    {{ form_row(form.categories, {'attr': {'class': 'form-control rounded-1'}}) }}
    <div class="btn-group">
        {{ form_row(form.Soumettre, {'attr': {'class': 'btn blue'}}) }}
        {{ form_end(form) }}
        <btn id="back" onclick="location:window.history.go(-1)" class="btn shadow-1 error" style="margin-left: 1em;">Annuler</btn>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock %}

