{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <h2 class="txt-center">Liste de mes annonces favorites</h2>       

    {% for annonce in favoritesAnnonces %}
        <div class="card shadow-1 fx-row">
            <div class=" primary d-flex vcenter fx-center">
           
                <img src="{{ asset('upload/' ~ annonce.images[0].name) | imagine_filter('square') }}" 
                alt="{{ annonce.title }}" width="200" height="200" style="padding-left: 0px;">                   
   
            </div>
            <div class="flex fx-col fx-grow">
                <div class="card-header">{{annonce.title}}</div>
                <div class="card-content txt-left">
                    <p>Catégorie: {{ annonce.categories.name }}</p>
                    <p>{{annonce.content | u.truncate(50, '...') | raw }}</p>
                </div>
            </div>
            <a href="{{ path('annonces_details', {'slug': annonce.slug}) }}" class="btn shadow-1 rounded-1 blue dark-4">Détails</a>
        </div>
    {% endfor %}
</div>  
    
       
    
{% endblock %}

