{% extends "base.html.twig" %}

{% block body %}
<div class="container-fluid">
    <h2 class="txt-center">Liste de mes annonces</h2>       
    {% for message in app.flashes('messageEdit') %}
        <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{message}}</div>
    {% endfor %}
    {% for annonce in annonces %}
        <div class="card shadow-1 fx-row">
            <div class=" primary d-flex vcenter fx-center">
           
                <img src="{{ asset('upload/' ~ annonce.images[0].name) | imagine_filter('square') }}" 
                alt="{{ annonce.title }}" width="200" height="200" style="padding-left: 0px;">                   
   
            </div>
            <div class="flex fx-col fx-grow">
                <div class="card-header">{{annonce.title}}</div>
                <div class="card-content txt-left">
                    <p>Catégorie: {{ annonce.categories.name }}</p>
                    <p>{{annonce.content | u.truncate(50, '...') | raw }}</p>
                </div>
            </div>
            <a href="{{ path('annonces_details', {'slug': annonce.slug}) }}" class="btn shadow-1 rounded-1 blue dark-4">Détails</a>
            <a href="{{ path('users_annonces_edit', {id: annonce.id}) }}" class="btn shadow-1 rounded-1 blue air-force dark-1" style="margin: 0;">Modifier</a>
            <a href="#" class="btn shadow-1 rounded-1 red dark-3 press modal-trigger" data-target="modal-delete" 
            data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Supprimer</a>
        </div>
    {% endfor %}
</div>  
    
        <div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
            <div class="modal-header">Supprimer cette annonce</div>
        
            <div class="divider"></div>
        
            <div class="modal-content">
            
            </div>
        
            <div class="divider"></div>
        
            <div class="modal-footer">
                <a href="" class="ml-auto btn shadow-2 rounded-1 small red">Valider</a>
                <a data-target="modal-delete" class="ml-auto btn shadow-2 rounded-1 small primary modal-trigger">Annuler</a>
            </div>
        </div>
    
{% endblock %}

{% block javascripts %}

    <script>
        window.onload = () => {
            let supprimer = document.querySelectorAll(".modal-trigger");
            for(let bouton of supprimer){
                bouton.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href = `/users/annonces/supprimer/${this.dataset.id}`
                    document.querySelector(".modal-content").innerText = `Êtes-vous sûr(e) de vouloir supprimer 
                    l'annonce: "${this.dataset.titre}" ?`
                })
            }
        }
    </script>

{% endblock %}