<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
           <!-- Axentix CSS minified version -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/css/axentix.min.css">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% block stylesheets %}
            <!-- Axentix JS minified version -->
            <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        {% endblock %}
        

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>
        {% endblock %}
    </head>
    <body class="layout with-sidenav">
        <header>
            <nav class="navbar airforce dark-1">
                <div class="navbar-menu">
                    <a class="navbar-link" href="{{ path('app_home') }}">Accueil</a>
                    <a class="navbar-link" href="{{ path('annonces_show') }}">Annonces</a>
                    <a class="navbar-link" href="{{ path('contact') }}">Nous contacter</a>
                    
                </div>
                <div class="navbar-menu ml-auto"></div>
                <div class="navbar-menu ml-auto"></div>
                <div class="navbar-menu ml-auto"></div>
                <div class="navbar-menu ml-auto">                              
                        <form class="search" method="POST" action="{{ path('annonces_show') }}">
                            <span class="algolia-autocomplete" style="position: relative; display: inline-block; direction: ltr;">
                                <input class="form-control rounded-4 shadow-1 white ds-input" type="text" name="recherche" id="recherche" required="true" placeholder="Rechercher..." autocomplete="off" spellcheck="false" role="combobox" aria-autocomplete="list" aria-expanded="false" aria-label="search input" aria-owns="algolia-autocomplete-listbox-0" dir="auto" style="position: relative; vertical-align: top;">
                                <pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Quicksand, -apple-system, BlinkMacSystemFont"></pre><span class="ds-dropdown-menu" role="listbox" id="algolia-autocomplete-listbox-0" style="position: absolute; top: 100%; z-index: 100; display: none; left: 0px; right: auto;">
                                <div class="ds-dataset-1"></div></span></span>
                            <button class="btn small" type="submit" style="display: none;"></button>
                        </form>
                    </div>
                <div class="navbar-menu ml-auto">
                {% if app.user %}                              
                    <a href="{{ path('app_logout') }}" class="navbar-logo ml-auto">
                        <button class="btn shadow-1 small primary rounded-2"><b> &#x27A5; Déconnexion</b></button>
                    </a>
                </div>
                {% else %}
                    <a href="{{ path('app_login') }}" class="navbar-logo ">
                        <button class="btn shadow-1 small primary rounded-2 ml-auto"><b> &#x27A5; Connexion</b></button>
                    </a>   
                    <a href="{{ path('app_register') }}" class="navbar-logo ml-auto">
                        <button class="btn shadow-1 small primary rounded-2"><b> &#x27A5; Inscription</b></button>
                    </a>  
                </div>
                  
                {% endif %}

            </nav>
        </header>
        <div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 large fixed white">
            <div class="sidenav-header">
              <button data-target="example-sidenav" class="sidenav-trigger"><i class="fas fa-times"></i></button>
              <img class="sidenav-logo dropshadow-1" src="{{ asset('uploads/images/img_3.jpg') }}" alt="Icone" />
            </div>
            {% if app.user %}
                <a href="{{path('users')}}" class="sidenav-link">Mon profil</a>
                <a href="{{path('users_mes_annonces')}}" class="sidenav-link">Mes annonces
                    ({{ app.user.annonces | length }})
                </a>
                <a href="{{ path('users_mes_favoris') }}" class="sidenav-link">Mes favoris</a>
                <a href="{{path('users_annonces_ajout')}}" class="sidenav-link">Ajouter une annonce</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{path('admin_categories_home')}}" class="sidenav-link">Liste des catégories</a>
                    <a href="{{path('admin_categories_ajout')}}" class="sidenav-link">Ajouter une catégorie</a>
                    <a href="{{path('admin_annonces_home')}}" class="sidenav-link">Gérer les annonces</a>
                {% endif %}
            {% endif %}
        </div>
      
        <main> 
            {% block body %}{% endblock %}
        </main>
    
        <footer class="footer airforce dark-1">
            Copyright ©  Site de test depuis tutos de "Nouvelle Techno" Par Momo Biderman commencé le 06/09/2021
        </footer>
        

        <!-- Axentix JS minified version -->
        <script src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script>
    </body>
</html>
