{% extends 'base.html.twig' %}

{% block title %}Gestion des annonces{% endblock %}

{% block body %}
<div class="container">
    <h2 class="txt-center">Gestion des annonces</h2>
</div>
<div class="container-fluid" style="margin-top: 5em;">
    {% for message in app.flashes('message') %}
        <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{message}}</div>
    {% endfor %}
   
    <div class="responsive-table">
        <table class="table striped">
        <thead>
            <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Date</th>
            <th>Catégorie</th>
            <th>Active</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for annonce in annonces %}
                <tr>
                <td>{{annonce.id}}</td>
                <td>{{annonce.title}}</td>
                <td>{{annonce.createdAt | date}}</td>
                <td>{{annonce.categories}}</td>
                <td class="txt-left">
                    <label class="form-switch mt-2">
                        
                        <input type="checkbox"  {{ (annonce.active) ? 'checked' : '' }} data-id="{{annonce.id}}">
                        <span class="slider"></span>
                        
                    </label>
                </td>
                <td>
                    <a href="{{ path('users_annonces_edit', {id: annonce.id}) }}" class="btn shadow-1 rounded-1 grey dark-5">Modifier</a>
                    <a href="#" class="btn rounded-1 red dark-3 press modal-trigger" data-target="modal-delete" 
                    data-id="{{annonce.id}}" data-titre="{{annonce.title}}">Supprimer</a>
                </td>
            {% endfor %}
            </tr>
        </tbody>
        </table>
        <div class="modal shadow-1 white falling" id="modal-delete" data-ax="modal">
            <div class="modal-header">Supprimer cette annonce</div>
        
            <div class="divider"></div>
        
            <div class="modal-content">
            
            </div>
        
            <div class="divider"></div>
        
            <div class="modal-footer">
                <a href="" class="ml-auto btn shadow-2 rounded-1 small red dark-3">Valider</a>
                <a data-target="modal-delete" class="ml-auto btn shadow-2 rounded-1 small primary modal-trigger">Annuler</a>
            </div>
        </div>
    </div>
    <a href="{{path('users_annonces_ajout')}}" class="btn shadow-1 rounded-1 airforce dark-5">Ajouter une annonce</a> 
</div>

   
{% endblock %}

{% block javascripts %}

    <script>
        window.onload = () => {
            // let modal = new Axentix.Modal('#modal-delete');
            let active = document.querySelectorAll("[type=checkbox]")
            for(let bouton of active){
                bouton.addEventListener("click", function(){
                    let xmlhttp = new XMLHttpRequest;

                    xmlhttp.open("get", `/admin/annonces/activer/${this.dataset.id}`)
                    xmlhttp.send()
                })
            }
            let supprimer = document.querySelectorAll(".modal-trigger");
            for(let bouton of supprimer){
                bouton.addEventListener("click", function(){
                    document.querySelector(".modal-footer a").href = `/admin/annonces/supprimer/${this.dataset.id}`
                    document.querySelector(".modal-content").innerText = `Êtes-vous sûr(e) de vouloir supprimer 
                    l'annonce: "${this.dataset.titre}" ?`
                })
            }
        }
    </script>

{% endblock %}
 