{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="grix xs4 container">
            <div class="col-xs4">
                <h5>Modification du profil de {{ app.user.firstname }} {{ app.user.name }}:</h5>
            </div>
            <div class="col-xs3">
                <form method="post">
                    <div class="form-field">
                        <input type="password" id="pass" name="pass" class="form-control rounded-1" placeholder="nouveau password">
                        <input type="password" id="pass2" name="pass2" class="form-control rounded-1" placeholder="confirmer le password">
                    </div>
                    <button class="btn shadow-1 rounded-1 blue dark-2">Valider</button>
                </form>
            </div>
        </div>       
    </div>

{% endblock %}
