{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="grix xs4 container">
            <div class="col-xs4">
                <h5>Modification du profil de {{ app.user.firstname }} {{ app.user.name }}:</h5>
            </div>
            <div class="col-xs3">
                {{ form_start(form) }}
                {{ form_row(form.firstname, {'attr': {'class': 'form-control rounded-1', 'placeholder': 'Prénom'}}) }}
                {{ form_row(form.name, {'attr': {'class': 'form-control rounded-1', 'placeholder': 'Nom'}}) }}
                {{ form_row(form.Valider, {'attr': {'class': 'btn shadow-1 rounded-1 blue'}}) }}
                {{ form_end(form) }}
            </div>
        </div>       
    </div>

{% endblock %}
