{% extends 'base.html.twig' %}

{% block title %}{{ app.user.firstname }} {{ app.user.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="grix xs4 container">     
            <div class="col-xs4"><h5>Profil de {{ app.user.firstname }} {{ app.user.name }}:</h5>
                {% for message in app.flashes('message') %}
                    <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{message}}</div>
                {% endfor %}   
            </div>
            <div class="col-xs1">Nom : </div>
            <div class="col-xs3">{{ app.user.name }}</div>
            <div>Prénom : </div>
            <div class="col-xs3">{{ app.user.firstname }}</div>
            <div class="col-xs1">Email : </div>
            <div class="col-xs3">{{ app.user.email }}</div>
            <div class="col-xs4">
                <a href="{{ path('users_edit') }}" class="btn shadow-1 rounded-1 blue dark-2">Modifier le profil</a>
                <a href="{{path('users_pass_edit')}}" class="btn shadow-1 rounded-1 blue dark-2">Modifier le mot de passe</a>
            </div>
            <div class="col-xs4"><h5>Annonces de {{ app.user.firstname }} {{ app.user.name }} ({{ app.user.annonces | length }}):</h5></div>
            {% for annonce in  app.user.annonces  %}
                <div class="col-xs1">Titre : </div>
                <div class="col-xs3">{{ annonce.title }}</div>
            {% endfor %}

        </div>
        
    </div>


{% endblock %}
